@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  font-family: Poppins;
  color: white;
}
:root {
  /*color of the background*/
  --page-bg1: #3498db;
  --page-bg2: #e9e773;
  /* signup-container color*/
  --cont-bg1: #99b6f4;
  --cont-bg2: #FF6347;
  /* signin button hower color */
  --btn-h-bg: #45a049;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(to bottom, var(--page-bg1), var(--page-bg2)); */
  background-image: url(../assets/bgs/logins.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #235fbb; */
}
#done{
  visibility:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 420px;
  margin-bottom: 10px;
  font-weight: 500;
  border-radius: 10px ;
  font-size: 20px;
  color:black;
  background-color: rgb(118, 211, 118);
  
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-color: #fff;
 
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 360px;
  text-align: center;
  background-color: #001220;
  /* background-image: url('../assets/bgs/box.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   */
}


h2 {
  margin-bottom: 30px;
  /* color: #333; */
  font-size: 32px;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  text-align: left;
  align-content: center;
}

label {
  display: flex;
  justify-content: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  /* color: #555; */
}

#password , #email{
    width: 330px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  background-color: #f9f9f9;
  color: #001220;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#password:focus {
  outline: none;
  border-color: #4caf50;
}

#submit{
  padding: 14px 24px;
  width: inherit;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submit:hover {
  background-color: var(--btn-h-bg);
}
